:root {
  --floral-white: #fffcf2ff;
  --pale-silver: rgb(219, 214, 193);
  --black-olive: #403d39ff;
  --eerie-black: #252422ff;
  --flame: #eb5e28ff;
  --r-blue: #31426a;
  --r-offw: #dfdddd;
  --r-orange: #ef7828;
  --r-white: #ffffff;
  --r-gray: #595959;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html {
  background-color: var(--eerie-black);
}

h3 {
  color: var(--r-blue)
}

.navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

ul {
  list-style: none;
}

li {
  color: black;
}

.background {
  background-color: var(--r-white);
}

.background-off {
  background-color: var(--r-offw);
}

.container-bg {
  background-color: var(--r-blue);
  color: var(--r-white)
}

.contact {
  margin-left: 26vh;
}

.btn:disabled {
  color: black !important;
}

.fire {
  color: var(--r-white)
}

.contact-btn {
  padding-left: 14px !important;
  padding-right: 14px !important;
}

.nav-style {
  color: var(--r-white);
  background-color: var(--r-blue);
}

.lernk:hover {
  background-color: var(--r-gray);
}

.btn:hover {
  background-color: var(--r-blue) !important;
}

.cus-font {
  font-family: 'Chivo', sans-serif;
}

.large {
  font-size: 6vh;
}

.btn-fire {
  background-color: var(--r-orange);
}

.btn-orange {
  background-color: var(--r-orange) !important;
  color: var(--r-white);
}

.cont {
  padding: 5vh;
  
}